* {
    margin: 0;
    padding: 0;    
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: antiquewhite;    
}

html, body {
	height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.content {
    flex: 1 0 auto;
}

.tittle {   
    text-align: center;
    background-color: burlywood;
    height: 83px;  
    font-size: larger;
}

.top_title {
    padding-top: 15px;
}

.main-menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #9eadd4;
    height: 40px;
    font-size: larger;
}

.li_menu {
    margin-right: 75px;
    padding-top: 5px;
}

.btn-cart {
    position: absolute;
    right: 180px;
    top: 83px;
    background-color: #8fd992;
    font-size: 17px;
    padding: 8px 15px;
    border-radius: 6px;
    text-align: center;
}

.backet {
    display: flex;
    justify-content: right;
    background-color: #a79f7e;    
    font-size: 20px;
    width: auto;
    height: auto;
    direction: rtl;
    margin-top: 10px;
    margin-right: 10px;
}

.cards {
    margin-top: 130px;    
}

.products {
    display: flex;
    justify-content: space-evenly; 
    margin-bottom: 50px;   
}

.product-item {
    border: 5px solid #8f9b4c;
    border-radius: 2px;
    padding: 5px;
}
.basket-product{
    border: 5px solid #8f9b4c;
    border-radius: 2px;
    padding: 5px;    
    justify-content: center;
}

.img-product-item {
    width: 250px;
}
.basket-img-product {
    width: 50px;
}

.title-product-item {
    font-size: 23px;
    text-align: center;
}
.basket-title-product {
    font-size: 20px;
    text-align: center;
}

.price-product-item {
    font-size: 20px;
    text-align: center;
}
.basket-price-product {
    font-size: 20px;
    text-align: center;
}

.basket-quantity-product {
    font-size: 15px;
    text-align: center;
}

.buy-btn {
    background-color: #cbe1cc;
    font-size: 18px;
    padding: 3px 95px;
    border-radius: 3px;
    text-align: center;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.footer {
    flex: 0 0 auto;
	height: 250px;	
	background-color: #f7f7f7;
	padding-left: 400px;
	padding-right: 98px;	
	clear: both;
}
.footer form {
	position: relative;
}
.footer form a i {
	display: block;
	width: 21px;
	height: 21px;
	position: absolute;
	z-index: 2;
	top: 10px;
    right: 50px;
    color: #6c6c6c;
}
.text-footer {
	margin-top: 50px;
	width: 221px;
	float: left;
	margin-right: 68px;
}
.text-footer:last-child {
	margin-right: 0;
}
.text-footer h3 {
	text-transform: uppercase; 
	color:  #6c6c6c;
	font-size: 18px;
	font-weight: 700;
	text-align: left;
	margin-bottom: 22px;
	letter-spacing: 2px;
}
.text-footer p {
	color:  #212121;
	font-size: 14px;/* Приближение из-за подстановки шрифтов */
	font-weight: 300;
	line-height: 24px;/* Приближение из-за подстановки шрифтов */
	text-align: left;
	margin-bottom: 20px;
}
.text-footer a {
	text-decoration: none;
	text-transform: uppercase;
	color:  #212121;
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
}
.text-footer a:hover {
	border-bottom: 2px solid #212121;
}
.text-footer a:active {
	color: #6c6c6c;
	border-bottom: 2px solid #6c6c6c;
}

table {
	width: 100%;
}
td:first-child {
	width: 235px;
}

.text-footer:nth-child(2) {
	width: 422px;
}
.text-footer:nth-child(3) {
	width: 363px;
}
.text-footer input {
	border-width: 1px;
	border-color:  #d9dee1;
	border-style: solid;
	background-color:  #ffffff;
	width: 250px;
	height: 46px;
	outline: none;
	color:  #6c6c6c;
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	text-align: left;
	padding-left: 19px;
	padding-right: 70px;
}
.text-footer input:focus {
	border-width: 1px;
	border-color:  #6c6c6c;
	border-style: solid;
}
.footer .small {
	text-transform: uppercase;
	float: left;
	color:  #6c6c6c;
	font-size: 12px;
	font-weight: 700;
	line-height: 26px;
	text-align: left;
	margin-top: 35px;
}

.social {
	height: 28px;
	width: 121px;
	float: left;
	margin-left: 158px;
	margin-top: 30px;
}
.social1{
	background: url(img/social-links.png);
	height: 28px;
	width: 28px;
	float: left;

}
.social2{
	background: url(img/social-links.png);
	background-position: -34px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}
.social3{
	background: url(img/social-links.png);
	background-position: -67px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}
.social4{
	background: url(img/social-links.png);
	background-position: -101px 0px;
	height: 28px;
	width: 28px;
	float: left;
	margin-left: 3px;
}

.footer .small:nth-child(4) {
	float: right;
}